.Clock {
  position: absolute;

  background-color: white;

  border-radius: 50%;
  border: 5px solid gray;
  box-sizing: border-box;

  overflow: hidden;
}

.Clock .Night {
  position: absolute;
  width: 100%;
  height: 50%;

  background-color: lightgray;

  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  transform-origin: bottom;

  user-select: none;

  z-index: 1;
}

.Clock .Number {
  position: absolute;
  top: 10px;
  left: 40%;
  right: 40%;
  bottom: 50%;

  transform-origin: bottom;

  user-select: none;

  z-index: 2;
}

.Clock .NumberText {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
  color: black;
}

.Clock .TimezonePicker {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  bottom: 20%;

  z-index: 3;
  user-select: default;
}
